<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap" rel="stylesheet">
        <title>Kanji Filter</title>
    </head>
    <body>
        <header class="hero">
            <div class="container-alt">
                <h1><a href="{{ url_for('home') }}">KANJI FILTER</a></h1>

                <nav class="primary-nav">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('index') }}">Index</a></li>
                </nav>
            </div>
        </header>

        <section class="row">
            <div class="container">
               {% block section %}{% endblock %}
            </div>
        </section>
        
        <footer class="footer">
            <div class="container">
                <p>&copy; Groenethee38</p>
            </div>
        </footer>
        <script src="static/js/script.js"></script>
    </body>
</html>